% rebase('page.tpl')
<h1>Log into 10Centuries</h1>
<p>Before you can view and share your unredeemed invites, you need to log into your 10Centuries account.</p>
% if api_error:
<p style='color: red; border: 2pt red; text-align: center;'><strong>Error:</strong> {{api_error}}</p>
% end
<form name='tenc_login' method='POST'>
  <p>
  <label>Email
  <input name='email' type='email' autocomplete='email' required></input></label>
  </p>
  <p>
  <label>Password
  <input name='password' type='password'autocomplete='current-password' required></input></label>
  </p>
  <p>
  <button type='submit'>Log In</button>
  </p>
</form>
